<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Servlet01</display-name>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>com.curso.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <display-name>01-PrimerEjemplo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletFormulario</display-name>
    <servlet-name>ServletFormulario</servlet-name>
    <servlet-class>com.curso.ServletFormulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario</servlet-name>
    <url-pattern>/ServletFormulario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCookie</display-name>
    <servlet-name>CrearCookie</servlet-name>
    <servlet-class>com.curso.java.CrearCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCookie</servlet-name>
    <url-pattern>/CrearCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeerCookie</display-name>
    <servlet-name>LeerCookie</servlet-name>
    <servlet-class>com.curso.java.LeerCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerCookie</servlet-name>
    <url-pattern>/LeerCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCookies</display-name>
    <servlet-name>CrearCookies</servlet-name>
    <servlet-class>com.cookie.CrearCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCookies</servlet-name>
    <url-pattern>/CrearCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeerCookies</display-name>
    <servlet-name>LeerCookies</servlet-name>
    <servlet-class>com.cookie.LeerCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerCookies</servlet-name>
    <url-pattern>/LeerCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormularioServlet</display-name>
    <servlet-name>FormularioServlet</servlet-name>
    <servlet-class>com.matriculacion.FormularioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioServlet</servlet-name>
    <url-pattern>/FormularioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarNombreServlet</display-name>
    <servlet-name>MostrarNombreServlet</servlet-name>
    <servlet-class>com.matriculacion.MostrarNombreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarNombreServlet</servlet-name>
    <url-pattern>/MostrarNombreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaCursoServlet</display-name>
    <servlet-name>ListaCursoServlet</servlet-name>
    <servlet-class>com.matriculacion.ListaCursoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaCursoServlet</servlet-name>
    <url-pattern>/ListaCursoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cursos</display-name>
    <servlet-name>Cursos</servlet-name>
    <servlet-class>com.login.Cursos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cursos</servlet-name>
    <url-pattern>/Cursos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrar</display-name>
    <servlet-name>Registrar</servlet-name>
    <servlet-class>com.login.Registrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrar</servlet-name>
    <url-pattern>/Registrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usuario</display-name>
    <servlet-name>Usuario</servlet-name>
    <servlet-class>com.login.Usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usuario</servlet-name>
    <url-pattern>/Usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionProductosServlet</display-name>
    <servlet-name>GestionProductosServlet</servlet-name>
    <servlet-class>com.productos.GestionProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionProductosServlet</servlet-name>
    <url-pattern>/GestionProductosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Agregar</display-name>
    <servlet-name>Agregar</servlet-name>
    <servlet-class>com.productos.Agregar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Agregar</servlet-name>
    <url-pattern>/Agregar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarPrecio</display-name>
    <servlet-name>ModificarPrecio</servlet-name>
    <servlet-class>com.productos.ModificarPrecio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarPrecio</servlet-name>
    <url-pattern>/ModificarPrecio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eliminar</display-name>
    <servlet-name>Eliminar</servlet-name>
    <servlet-class>com.productos.Eliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eliminar</servlet-name>
    <url-pattern>/Eliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarPorSeccion</display-name>
    <servlet-name>BuscarPorSeccion</servlet-name>
    <servlet-class>com.productos.BuscarPorSeccion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarPorSeccion</servlet-name>
    <url-pattern>/BuscarPorSeccion</url-pattern>
  </servlet-mapping>
</web-app>