<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Servlet01</display-name>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>com.curso.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <display-name>01-PrimerEjemplo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletFormulario</display-name>
    <servlet-name>ServletFormulario</servlet-name>
    <servlet-class>com.curso.ServletFormulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario</servlet-name>
    <url-pattern>/ServletFormulario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCookie</display-name>
    <servlet-name>CrearCookie</servlet-name>
    <servlet-class>com.curso.java.CrearCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCookie</servlet-name>
    <url-pattern>/CrearCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeerCookie</display-name>
    <servlet-name>LeerCookie</servlet-name>
    <servlet-class>com.curso.java.LeerCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerCookie</servlet-name>
    <url-pattern>/LeerCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCookies</display-name>
    <servlet-name>CrearCookies</servlet-name>
    <servlet-class>com.cookie.CrearCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCookies</servlet-name>
    <url-pattern>/CrearCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeerCookies</display-name>
    <servlet-name>LeerCookies</servlet-name>
    <servlet-class>com.cookie.LeerCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerCookies</servlet-name>
    <url-pattern>/LeerCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormularioServlet</display-name>
    <servlet-name>FormularioServlet</servlet-name>
    <servlet-class>com.matriculacion.FormularioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioServlet</servlet-name>
    <url-pattern>/FormularioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarNombreServlet</display-name>
    <servlet-name>MostrarNombreServlet</servlet-name>
    <servlet-class>com.matriculacion.MostrarNombreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarNombreServlet</servlet-name>
    <url-pattern>/MostrarNombreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaCursoServlet</display-name>
    <servlet-name>ListaCursoServlet</servlet-name>
    <servlet-class>com.matriculacion.ListaCursoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaCursoServlet</servlet-name>
    <url-pattern>/ListaCursoServlet</url-pattern>
  </servlet-mapping>
</web-app>